* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .blue {
    background-color: blue;
    width: 150px;
    height: 150px;
    cursor: pointer;
  }
  .red {
    background-color: red;
    width: 150px;
    height: 150px;
    cursor: pointer;
  }
  